.slide-container, .section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container{
    width: 70vw;
    margin: 0 auto;
}
.slide-container h4{
    font-size: 4em;
    text-align: center;
    margin-right: 40px;
}
.slide-container .right-side h4{
    font-size: 3em;
}
.slide-container .left-side img{
    width: 500px;
    transition: .35s;
    margin-right: 30px;
}
.slide-container .left-side img:hover{
    filter: drop-shadow(7px 5px 5px #3a3a3a23);
}
.section{
    flex-direction: column;
}
.slide{
    height: 100%;
}
.portugal{
    font-size: 100px;
    background-image: linear-gradient(to right, var(--green-flag) 32%, var(--red-flag) 32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}
.section h1{
    font-size: 80px;
    height: max-content !important;
}
.names li{
    font-size: 25px;
}
.section .right-side p{
    margin: 5px 0;
}
.section .right-side p, .section .right-side ul li{
    margin-bottom: 0;
    font-size: 1.25em;
}
.section-container{
    position: absolute;
}
.section h3{
    font-size: 60px;
    height: max-content !important;
    position: relative;
    text-align: center;
}
#fp-nav ul li a span{
    background-color: var(--red-flag);
}
.fp-slidesNav ul{
    text-align: center;
}
.indent{
    text-align: center;
    font-size: 1.3em;
}
.section .right-side ul li{
    font-size: 1.1em;
    list-style-type: square;
    margin: 5px 0;
}
#qr-code{
    width: 30vw;
}
.bandeiras{
    position: relative;
}
.bandeiras, .x-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
}
.bandeiras > img, .x-container > img{
    width: 300px;
    margin: 0 20px;
}
.x-container{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}
.x-hidden{
    opacity: 0;
}
.desc{
    padding-bottom: 0;
}
@media (max-width: 1058px), (max-height: 600px) {
    .section h1{
        text-align: center;
    }
    .slide-container{
        flex-wrap: wrap;
    }
    .fp-prev{
        left: 35px;
    }
    .fp-next{
        right: 35px;
    }
    .section h2{
        text-align: center;
    }
}
@media (max-width: 700px), (max-height: 600px){
    .section .left-side h4{
        font-size: 2.5em;
        margin: 0;
    }
}
@media (max-width: 500px), (max-height: 600px){
    .section-container{
        height: 100vh;
    }
    .section h3{
        margin: 0 !important;
        top: 160px !important;
        font-size: 2.5em;
        z-index: 2;
        background-color: #fff;
        padding: 30px 0 0 0!important;
    }
    .section .left-side h4{
        margin-top: 20px;
    }
    .section .left-side img{
        margin: 0;
    }
    .fp-prev,
    .fp-next{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .section h1{
        font-size: 4em;
    }
    .portugal{
        font-size: 1.15em;
    }
    .section .right-side p{
        font-size: 1em;
    }
    .section .left-side h4, .section .right-side h4{
        font-size: 2em;
        margin: 0;
        width: 100%;
    }
    .indent{
        font-size: 1em;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 65vh;
    }
    .section-container{
        bottom: 1%;
    }
    .slide-container .left-side{
        width: 100%;
        text-align: center;
    }
    .slide-container .left-side img{
        width: max-content;
        height: 10vh;
    }
    .slide-container{
        width: 80vw;
    }
    .right-side ul:last-child{
        padding-bottom: 55px;
    }
    .section .right-side p, .section .right-side ul li{
        font-size: 1em;
    }
    .section .right-side ul{
        padding-left: 5px;
    }
    #qr-code{
        width: 80vw;
    }
    .bandeiras{
        margin-top: 100px;
    }
    .bandeiras > img, .x-container > img{
        width: 200px;
        margin: 5px 0;
    }
    .bandeiras, .x-container{
        justify-content: flex-start !important;
    }
    .desc{
        padding-bottom: 10vh;
    }
    .right-side ul:last-child{
        padding-bottom: 90px;
    }
    .right-side p:last-child{
        padding-bottom: 100px;
    }
}
@media (max-width: 382px){
    .section h3{
        font-size: 2.6em;
    }
}
@media (max-height: 800px) and (max-width: 500px){
    .section-container{
        bottom: 1px;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .section .left-side h4, .section .right-side h4{
        margin-top: 15px;
        font-size: 1.7em;
    }
}
@media (max-width: 400px) and (max-height: 850px) {
    .section .left-side h4{
        margin: 60px 0 0 0 !important;
        font-size: 1.3em;
    }
    .section .left-side img{
        margin: 160px 0 0 0 !important;
    }
}
@media (max-height: 640px) {
    .bandeiras > img, .x-container > img{
        width: 30vh;
    }
}