.slide-container, .section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-container{
    width: 70vw;
    margin: 0 auto;
}
.slide-container h4{
    font-size: 4em;
    text-align: center;
    margin-right: 40px;
}
.slide-container .right-side h4{
    font-size: 3em;
}
.slide-container .left-side img{
    width: 500px;
    transition: .35s;
    margin-right: 30px;
}
.turismo .left-side img{
    border-radius: 17% 83% 10% 90% / 87% 17% 83% 13%; 
}
.tecnologia .left-side img{
    border-radius: 3% 97% 3% 97% / 95% 4% 96% 5%;
}
.slide-container .left-side img:hover{
    cursor: pointer;
    filter: drop-shadow(5px 3px 3px #3a3a3a23);
}
.section{
    flex-direction: column;
}
.slide{
    height: 100%;
}
.portugal{
    font-size: 100px;
    background-image: linear-gradient(to right, var(--green-flag) 32%, var(--red-flag) 32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}
.section h1{
    font-size: 80px;
    height: max-content !important;
}
.names li{
    font-size: 25px;
}
.section .right-side p, .section .right-side ul li{
    margin-bottom: 0;
    font-size: 1.25em;
}
.section-container{
    position: absolute;
}
.section h3{
    font-size: 60px;
    height: max-content !important;
    position: relative;
    text-align: center;
}
#fp-nav ul li a span{
    background-color: var(--red-flag);
}
.fp-slidesNav ul{
    text-align: center;
}
.red-text{
    color: var(--red-flag);
}
.green-text{
    color: var(--green-flag);
}
.indent{
    text-align: center;
    font-size: 1.3em;
}
.section ul.red-flag li{
    list-style-image: linear-gradient(to bottom, var(--red-flag), var(--red-flag));
}
.section ul.green-flag li{
    list-style-image: linear-gradient(to bottom, var(--green-flag), var(--green-flag));
}
.section ul li{
    font-size: 1.1em;
    list-style-type: square;
}
.desktop-margin-top{
    margin-top: 50px;
}
@media (max-width: 1058px) {
    .section h1{
        text-align: center;
    }
    .slide-container{
        flex-wrap: wrap;
    }
    .fp-prev{
        left: 35px;
    }
    .fp-next{
        right: 35px;
    }
    .section h2{
        text-align: center;
    }
}
@media (max-width: 700px){
    .section .left-side h4{
        font-size: 2.5em;
        margin: 0;
    }
}
@media (max-width: 500px), (max-height: 600px){
    .fp-prev,
    .fp-next{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .section h1{
        font-size: 4em;
    }
    .section h3{
        font-size: 3em;
        top: 10px;
        box-sizing: border-box;
    }
    .portugal{
        font-size: 1.15em;
    }
    .section .right-side p{
        font-size: 1em;
    }
    .section .left-side h4, .section .right-side h4{
        font-size: 2em;
        margin: 0;
        width: 100%;
    }
    .indent{
        font-size: 1em;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 65vh;
    }
    .section-container{
        bottom: 1%;
    }
    .slide-container .left-side{
        width: 100%;
        text-align: center;
    }
    .slide-container .left-side img{
        width: max-content;
        height: 10vh;
        margin: 0;
    }
    .slide-container{
        width: 80vw;
    }
    .right-side ul:last-child{
        padding-bottom: 55px;
    }
    .section .right-side p, .section .right-side ul li{
        font-size: 1em;
    }
    .section .right-side ul{
        padding-left: 5px;
    }
    .respons{
        display: inline-flex;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .uppercase{
        text-transform: uppercase;
    }
    .desktop-margin-top{
        margin-top: 0;
    }
}
@media (max-width: 382px){
    .section h3{
        font-size: 2.6em;
    }
}
@media (max-height: 800px) and (max-width: 500px){
    .section-container{
        bottom: 1px;
    }
    .right-side{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .section h3{
        top: 0;
        font-size: 2.2em;
    }
    .section .left-side h4, .section .right-side h4{
        margin-top: 15px;
        font-size: 1.7em;
    }
}
.hidden{
    visibility: 0;
    height: 0;
    width: 0;
}