.slide-container, .section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-container{
    width: 70vw;
    margin: 0 auto;
}
.portugal{
    font-size: 100px;
    background-image: linear-gradient(to right, var(--green-flag) 32%, var(--red-flag) 32%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}
.sides-container{
    display: flex;
    justify-content: space-between;
    width: 85vw;
}
.section h1{
    font-size: 80px;
    height: max-content !important;
}
.names li{
    font-size: 25px;
}
.section .right-side p{
    margin-bottom: 0;
}
.slide-container h3{
    font-size: 60px;
    height: max-content !important;
}
#fp-nav ul li a span{
    background-color: var(--red-flag);
}
.fp-slidesNav ul{
    text-align: center;
}
@media (max-width: 1058px) {
    .section h1{
        text-align: center;
    }
    .slide-container{
        flex-wrap: wrap;
    }
    .fp-prev{
        left: 35px;
    }
    .fp-next{
        right: 35px;
    }
    .section h2{
        text-align: center;
    }
}
@media (max-width: 500px){
    .fp-prev,
    .fp-next{
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .section h1{
        font-size: 4em;
    }
    .section h3{
        font-size: 3em;
    }
    .portugal{
        font-size: 1.4em;
    }
}